.about_me {background: #d8effc;}
.title_about_me img {
  margin: -169px 0 -78px 587px;
  width: 576px;
}
.carousel-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slide {
  min-width: 100%;
  padding: 20px;
  text-align: center;
}
h2 {
  font-size: 2rem;
  margin-bottom: 1px;
}
p {
  font-size: 1rem;
}
/* Rubrique 1 */
.rubrique1_content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.personnage {
  height: 460px;
  z-index: 1;
  width: 328px;
  margin: -44px 0 0 46px;
}
.rubrique1_content p {
  color: #bb6bab;
  font-family: "Poppins";
  font-size: 17px;
}
.presentation_about_me {
  font-weight: 800;
}
.text {
  margin: -16px 50px 0 -4px;
}
.arrow {
  position: absolute;
  top: 57%;
  background-color: rgb(0 0 0 / 0%);
  color: #cb6db8;
  border: none;
  padding: 10px;
  font-size: 3rem;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 1;
}
.arrow.left {
  left: 10px;
}
.arrow.right {
  right: 10px;
}
/* Bouton CV */
.button_about_me {
  position: absolute;
  margin: 65px 0 0 143px;
}
.button_cv {
  outline: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 140px;
  height: 50px;
  border-radius: 2.5em;
  box-shadow: 0 0.625em 1em 0 rgb(35 37 40 / 35%);
  overflow: hidden;
}
.button_cv div {
  transform: translateY(0px);
  width: 100%;
}
.button_cv,
.button_cv div {
  transition: 0.6s cubic-bezier(.16,1,.3,1);
}
.button_cv div span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0.75em 1.125em;
}
.button_cv div:nth-child(1) {
  background-color: #fcbef8;
}
.button_cv div:nth-child(2) {
  background-color: #bb6bab;
}
.button_cv:hover {
  box-shadow: 0 0.625em 1em 0 rgba(13, 14, 13, 0.187);
}
.button_cv:hover div {
  transform: translateY(-50px);
}
.title1_button {
  font-family: 'Antonio' !important;
  margin-left: 45px;
  font-weight: bold;
  color: #bb6bab;
}
.title2_button {
  font-family: 'Antonio' !important;
  margin-left: 8px;
  font-size: 14px !important;
  font-weight: bold;
  color: #fcbef8 !important; 
}
.button_cv a:link,
.button_cv a:visited {
  text-decoration: none;
}
.button_cv:active {
  transform: scale(0.95);
}
.title_menu {
  color: #cb6db8;
  padding-top: 4rem;
  padding-left: 0rem;
  font-size: 17px;
}
h2{
  color: #cb6db8;
  font-size: 23px;
  font-family: "Antonio";
  padding-top: 66px;
  margin: -43px 0 10px -236px;
}
a {
  color: inherit;
  text-decoration: none;
}
.menu-item {
  overflow: hidden;
}
.menu-item img {
  border-radius: 1px;
  margin: 4px 0 10px 1px;
  width: 87%;
}
.menu-item,
.menu-open-button {
  background: #eeeeee;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  position: absolute;
  color: #ffffff;
  text-align: center;
  line-height: 80px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
}
.menu-open {
  display: none;
}
.menu-open:checked + .menu-open-button .line-1 {
  transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .line-2 {
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .line-3 {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}
.menu {
  margin: auto;
  position: relative;
  width: 80px;
  height: 80px;
  text-align: center;
  box-sizing: border-box;
  font-size: 26px;
}
.menu-item:nth-child(3),
.menu-item:nth-child(4),
.menu-item:nth-child(5),
.menu-item:nth-child(6),
.menu-item:nth-child(7),
.menu-item:nth-child(8),
.menu-item:nth-child(9) {
  transition-duration: 180ms;
}
.menu-open-button {
  height: 30px;
  width: 30px;
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
}
.menu-open-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}
.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}
.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.menu-open:checked ~ h2 {
  display: none;
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  transform: translate3d(0.0836px, -105px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 280ms;
  transform: translate3d(90.95px, -52.48px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 380ms;
  transform: translate3d(90.95px, 52.48px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: 480ms;
  transform: translate3d(0.0836px, 105px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(7) {
  transition-duration: 580ms;
  transform: translate3d(-90.86px, 52.62px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(8) {
  transition-duration: 680ms;
  transform: translate3d(-91.03px, -52.33px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(9) {
  transition-duration: 780ms;
  transform: translate3d(-0.2508px, -105px, 0);
}
.js {
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  width: 45px;
  height: 45px;
}
.js:hover {
  text-shadow: none;
}
.html {
  background-color: whitesmoke;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  width: 45px;
  height: 45px;
}
.html:hover {
  color: whitesmoke;
  text-shadow: none;
}
.css {
  background-color: #f6e5e7;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  width: 45px;
  height: 45px;
}
.css:hover {
  color: #f6e5e7;
  text-shadow: none;
}
.sql {
  background-color: #d2ebf1;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  width: 45px;
  height: 45px;
}
.sql:hover {
  color: #d2ebf1;
  text-shadow: none;
}
.swift {
  background-color: #ffffff1a;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  width: 45px;
  height: 45px;
}
.swift:hover {
  color: #FF6E01;
  text-shadow: none;
}
.php {
  background-color: #777BB3;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  width: 45px;
  height: 45px;
}
.php:hover {
  color: #777BB3;
  text-shadow: none;
}
.credit {
  margin: 24px 20px 120px 0;
  text-align: right;
  color: #eeeeee;
}
.credit a {
  padding: 8px 0;
  color: #c49cde;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.credit a:hover {
  text-decoration: underline;
}
.files_logo {
  width: 100px;
  margin: -35px 0 0 -25px;
}
.menus-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 71px;
  margin-left: 136px;
}
.menu_1,
.menu_2,
.menu_3 {
  position: relative;
}
.menu_1{
  margin: 16px 0 0 -68px;
}
.menu_2{
  margin: 88px 0 0 -31px;
}
.menu_3{
  margin: 152px 0 0 -60px;
}

/* Info contact */
.info_contact {
  margin: 67px 0 0 -68px;
}
.info_contact img {
  margin: -8px -101px 0 114px;
  width: 50px;
}


/* Responsive */
@media screen and (max-width: 700px) {
  body {
    padding: 170px 0 0 0;
    width: 100%;
  }
  .menus-container {
    flex-direction: column;
    align-items: center;
  }
  .menu {
    margin: 10px 0;
  }
}