
#skills-section {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}
.tabs {
    margin-left: 22px;
    width: 97%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    padding: 5px;
    border-radius: 8px;
}
.tab-link {
    font-size: 18px;
    background: none;
    border: none;
    padding: 10px 64px;
    cursor: pointer;
    font-weight: bolder;
    color: #d896c3;
    border-radius: 8px;
    transition: background 0.3s ease, color 0.3s ease;
}
.tab-link.active {
    background: #f2cfe7;
    color: white;
}
.tab-link:hover {
    background: #f2cfe7;
    color: white;
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 15px;
    padding: 10px;
}
.skill-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}
.skill-card:hover {
    transform: translateY(-5px);
}
.skill-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.skill-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.skill-card {
    margin-left: 15px;
    width: 347px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.skill-level {
    margin-top: 13px;
    font-weight: bold;
    color: #666;
    margin-bottom: 8px;
    margin-left: 8px;
}
/* ----- Barre de progression ----- */
.progress-bar {
    margin-left: 8px;
    width: 96%;
    height: 8px;
    background-color: #eee;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 6px;
}
.progress {
    height: 100%;
    background-color: #f2cfe7;
    border-radius: 4px;
    transition: width 0.3s ease;
}
.progress-label {
    font-size: 0.85rem;
    color: #666;
    text-align: right;
}
.skill-description{
    margin-left: 8px;
    color: #4B5563;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 12px;
}         
.skill-category {
    background: #e0f2e9;
    color: #2c7a4b;
    font-size: 0.85rem;
    padding: 3px 8px;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-right: -94px;  
    align-self: flex-end; 
}
.text_presentation{
    color: #4B5563;
    margin: 23px 0 14px 27px;
}
.title_skills{
    margin: -38px 0px -24px 401px;
    width: 349px;
}