*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #f9f9f9;
    color: #333;
}

/* Header */

header {
    padding-top: 13px;
    width: 100%;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    margin: 8px 4px -11px 25px;
    height: 70px;
}

.login {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login img {
    margin: -72px -159px 1px 1084px;
    height: 27px;
}

.button-login  {
    margin: -91px 0 -17px 154px;
}

header a {
    text-decoration: none;
    color: #333;

}

header hr{
    background-color: lightslategrey;
    height: 1px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
}

.logo-gestions-films  {
    display: flex;
    justify-content: center;
    margin: -70px 75px -2px -7px;
}

.logo-gestions-films h3  {
    font-weight: 500;
    font-size: 32px;
    margin: 31px -10px 23px 3px;
}

.logo-gestions-films img {
    width: 50px;
    height: 50px;
    margin: 22px 8px 0 0;
}

/* MAIN */
main {
    padding-top: 18px;
    height: 460px;
    width: 100%;
    background-color: rgb(219, 219, 219);
}
/* Button return */
#button-return a {
    font-weight: 500;
    padding: 0 0 0 1064px;
    font-size: 17px;
    text-decoration: none;
    color: #333;
}



#buttons {
   border-radius: 10px;
   height: 49px;
   width: 440px;
   margin: -20px 0 1px 34px;
   background-color: #d3cfcf;
}

#filtre-button {
    padding: 13px 0 0 0;
    margin: -3px 0 3px 42px;
}
/*********BUTTON SEARCH *******/
/* Search bar contenant*/
.search-container {
    margin: -33px -306px 0 157px;
    display: flex;
    align-items: center;
    width: 267px;
    height: 35px;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
}
/*Input fields*/
.search-input {
    flex: 1;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    outline: none;
}

/* Button with icon*/
.search-button {
    background: rgb(219 219 219 / 90%);
    color: white;
    border: grey;
    padding: 6px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 16px;
    margin-right: 10px;
}
.search-button:hover {
    background-color: #0056b3;
}
/* Icon */
.search-button i {
    font-size: 18px;
}


/* FOOTER */

footer{
    width: 100%;
    height: 40px;
}

footer hr{
    background-color: lightslategrey;
    height: 1px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}
